.collection {
  width: 100%;

  margin-bottom: 50px;
}

.collection__list {
  --cols: 4;
  list-style-type: none;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(var(--cols), 1fr);
}

.columns-1 { --cols: 1}
.columns-2 { --cols: 2}
.columns-3 { --cols: 3}
.columns-4 { --cols: 4}
.columns-5 { --cols: 5}
.columns-6 { --cols: 6}

.collection__list-item {
  width: 100%;
  aspect-ratio: 4 / 3;
  position: relative;

  transition: all .3s;
}

.collection__list-item > .gatsby-image-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.collection__list-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;

  opacity: 0;
  background: rgba(0, 0, 0, .8);
  transition: opacity .3s;
}

.collection__list-item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  opacity: 0;
  transition: opacity .3s;
  cursor: pointer;
  pointer-events: none;
}
.collection__list-item-overlay:hover + .collection__list-item-title,
.collection__list-item-overlay:hover {
  opacity: 1;
}