.hero-slider {
  height: 102vh;
}

.hero-slider-tray,
.hero-slider-tray-wrap {
  height: 102%;
}


.hero-slide {
  height: 102%;
  overflow: hidden;
}

.slide-image {
  height: 102%;
  width: 100%;
}

.hero-content-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 150px;
  padding-bottom: 2%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-size: 150%;
  color: #fff;
}

.hero-content-wrapper h1,
.hero-content-wrapper h2,
.hero-content-wrapper p {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}