:root {
  --font-primary: 'Oswald', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  --font-color-primary: rgb(255, 255, 255);
  --font-color-secondary: rgb(182, 182, 182);

  --bg-color-primary: rgb(22, 22, 22);
  --bg-color-secondary: rgb(43, 43, 43);

  --color-accent: rgb(236, 142, 0);

  --gutter-sm: 16px;
  --gutter-md: 32px;
  --gutter-lg: 48px;
  --gutter-xl: 64px;
}

body {
  background: var(--bg-color-primary);
  font-family: var(--font-secondary);
  color: var(--font-color-secondary);
  /* padding: 0; */
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-primary);
  color: var(--font-color-primary);
}

h1 {
  position: relative;
}

p {
  line-height: 170%;
}

img {
  width: 100%;
  height: 100%;
}

.link {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 700;
}