.blog-listing {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 0;

  margin: 50px 0;
}

.blog-listing-item {
  display: flex;
  flex-flow: column nowrap;
}

.post-thumbnail {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: auto;
}

.post-title {
  font-size: 2rem;
}

.post-url {}