.video-container {
  position: relative;
  aspect-ratio: 16 / 9;
  background: linear-gradient(30deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.1));
}

.collection__list-item-link {
  color: inherit;
  transform: opacity .2s;
}

.collection__list-item-link:active {
  opacity: 0.7;
}

.collection__list-item-link:visited {
  color: inherit;
}