.contact-form {
  margin: 30px 0;
  max-width: 600px;

  padding: 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.form-group {
  --color-error: rgb(235, 117, 117);

  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  position: relative;
}

.fields-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.form-field {
  padding: 12px;
  width: 100%;
  transition: box-shadow .2s
}

.form-label {
  margin-bottom: 12px;
  position: relative;
  transition: color .2s
}

.form-label.required::after {
  content: "*";
  margin-left: 4px;
}

.form-group:not(:last-child) {
  margin-bottom: 36px;
}

.fields-row .form-group:not(:last-child) {
  margin-right: 16px;
}

.form-error-message {
  font-size: 0.8rem;
  color: var(--color-error);
  margin-top: 10px;
}

.form-group.error .form-label {
  color: var(--color-error);
}

.form-group.error .form-field {
  box-shadow: 0 0 0 2px var(--color-error);
}