/* TODO: add hover */

.gallery-nav {
  margin-bottom: 50px;
}

.gallery-nav__list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
}

.gallery-nav__list-item {
  margin-left: 1.5rem;
  margin-bottom: 12px;
}

.gallery-nav__list-item:first-child {
  margin-left: 0;
}

.gallery-nav__list-item-btn {
  font: inherit;
  background: none;
  color: inherit;
  border: none;
  text-transform: capitalize;
  transition: color .2s, transform .1s;
}

.gallery-nav__list-item-btn:hover {
  color: #fff;
}

.gallery-nav__list-item-btn:active {
  transform: translateY(2px);
}

.gallery-nav__list-item-btn::before {
  content: "/ ";
  font-weight: 900;
  color: var(--color-accent);
}