.accent-header-wrapper {
  position: relative;
}
.accent-header-text {
  text-transform: uppercase;
}
.accent-header-icon {
  --size: 100px;
  width: var(--size);
  position: absolute;

  left: calc((var(--size) + 30px) * -1);
  top: 50%;
  transform: translateY(-55%);
}