.primary-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--bg-color-secondary);

  margin-right: -24px;
  padding-right: 24px;

  position: relative;

  min-height: 50px;
}

.primary-nav:before,
.primary-nav:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
}

.primary-nav:after {
  width: 50px;
  left: -50px;
  background: var(--bg-color-secondary);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.primary-nav:before {
  width: 60px;
  left: -60px;
  background: var(--color-accent);
  clip-path: polygon(100% 0, 83% 0, 0 100%, 100% 100%);
}

.primary-nav .nav-list {
  display: flex;
  flex-wrap: row;
  list-style-type: none;
  align-items: center;
}

.primary-nav .nav-item {
  margin-left: 40px;
  font-weight: 700;
  white-space: nowrap;
}

.primary-nav .nav-item:first-child {
  margin-left: 0;
}

.primary-nav a {
  text-decoration: none;
  /* text-transform: uppercase; */
  font-weight: 200;
  color: #fff;
  
  position: relative;
}

.primary-nav a:hover {
  text-decoration: none;
}

.primary-nav a.active:before, 
.primary-nav a:hover:before {
  display: block;
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background: var(--color-accent);
  content: " ";
}

@media screen and (max-width: 1050px) {
  .primary-nav .nav-list {
    margin: 0;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    background: #111;

    padding-inline: 24px;
    padding-block: 60px;

    flex-direction: column;
    align-items: start;

    transform: translateX(100%);
    transition: transform 0.3s;

    z-index: 1;
  }

  .primary-nav .nav-item {
    margin-bottom: 24px;
    margin-left: 0;
  }

  .primary-nav a.active:before, 
  .primary-nav a:hover:before {
    top: 50%;
    left: -12px;
  }
}

.mobile-toggle {
  font-size: 1.7rem;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  padding: 12px;
  opacity: 0.7;
  transition: opacity .2s;
  margin: 18px 8px;
}

.mobile-toggle:hover {
  opacity: 1;
}

.mobile-toggle .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1050px) {
  .mobile-toggle {
    display: none;
  }
}

.open-drawer {
  transform: translateX(0) !important;
}

@media screen and (max-width: 450px) {
  .primary-nav {
    background: none;
  }
  
  .primary-nav:before,
  .primary-nav:after {
    display: none;
  }
}